.section-05 {
  display: flex;
  position: relative;
  padding: 0;
  margin-bottom: 80px;
}

.wrap-commu {
  padding: 40px 0;
  flex: 1;
  overflow: hidden;
}

.commu-body {
  width: 100%;
  max-width: 100%;
}

.wrap-monthly {
  width: 345px;
  height: 578px;
  background-color: #fff;
}

/* mobile */
@media (max-width: 980px) {
  .section-05 {
    display: block;
  }

  .wrap-monthly {
    display: none;
  }
}
