.margin-left-50 {
  margin-left: 50px;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

a:visited {
  color: #424242;
  text-decoration: none;
}

a {
  color: #424242;
  text-decoration: none;
}
